<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/index.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/itemInventory.css" />
		
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
	</head>

	<body ng-app="ItemInventory" ng-controller="ItemInventoryCtrl">
		<div id="item-panel">
			<div class="app-nav">
				<div class="icon nav-icon" toggle-class="active"></div>
				<ul class="nav-menu">
					<li class="nav-item"><span ng-click="openPanel('create')">Create Item</span></li>
					<li class="nav-item"><span ng-click="openPanel('search')">Search Item</span></li>
					<li class="nav-item"><span ng-click="openPanel('records')">View Item Records</span></li>
				</ul>
			</div>
	
			<div class="app-content" ng-include="templateUrl"></div>
		</div>
		
		<div ng-include="'templates/loading.html'"></div>
		<div class="overlay" ng-show="mode.modal || mode.loading"></div>
		
		<script src="app.js"></script>
		<script src="assets/js/directives.js"></script>
	
		<script src="itemInventoryController.js"></script>
		<script src="itemInventoryService.js"></script>
	</body>
</html>